.games_container
  %h3
    = Date.today.strftime("%A - %d %b")
    = "( #{@games.size} )"
  .days_nav
    %a{:href => "./#{Date.yesterday.strftime("%Y%m%d")}", :class => "btn"}
      %i{:class => "icon-calendar prev"}
      Wczoraj
  = render 'games'


%a{:class => "btn", :href => "update_lines"}
  %i{:class => "icon-repeat"}
  Update